<%= provide(:head_title, "Edit Profile") %>
<h1 class="text-center">編集（プロフィール）</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>

      <%= render 'shared/error_messages', object: f.object %>

      <h4>＜公開情報＞</h4>

      <%= f.label :name, "Full name *" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :user_name, "User name *" %>
      <%= f.text_field :user_name, class: 'form-control' %>

      <%= f.label :web_page %>
      <%= f.text_field :web_page, class: 'form-control' %>

      <%= f.label :introduce %>
      <%= f.text_area :introduce, class: 'form-control' %>

      <h4>＜非公開情報＞</h4>

      <%= f.label :email, "Email *" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :phone_number %>
      <%= f.text_field :phone_number, class: 'form-control' %>

      <div class="radio-btn">
        <%= f.label :gender %>
        <%= f.radio_button :gender, 1 %>
        <%= f.label :gender, "男性" %>
        <%= f.radio_button :gender, 2 %>
        <%= f.label :gender, "女性" %>
        <%= f.radio_button :gender, 3 %>
        <%= f.label :gender, "その他" %>
      </div>

      <%= f.submit "Save changes", class: "btn btn-primary" %>

    <% end %>
    <div class="gravatar-edit">
      <%= gravatar_for(@user) %>
      <%= link_to "Change", "http://gravatar.com/emails",  target: "blank",
                                                              rel: "noopner" %>
    </div>
    <div class="edit-info">
      <p><%= link_to "編集(パスワード)", edit_password_update_path(@user) %></p>
      <% if current_user == @user %>
        <p>
          <%= link_to "ユーザー削除", user_path(@user),  method: :delete,
                                            data: {confirm: "削除しますか？"} %>
        </p>
      <% end %>
    </div>
      
  </div>
</div>