<% provide(:head_title, @user.name) %>

<div class="users-show">
  <aside>
    <h1>
      <%= gravatar_for(@user, size: 50) %>
      <%= @user.user_name %>
    </h1>
    <section class="user-prof">
      <% if logged_in? && current_user == @user %>
        <%= link_to "（プロフィール編集）", edit_user_path(@user) %>
      <% end %>
    </section>
    <section class="stats">
      <%= render 'shared/stats'%>
    </section>
    <section class="follow_form">
      <%= render 'follow_form' if logged_in? %>
    </section>
  </aside>
  <% if @user.user_images.any? %>
    <div class="show-images">
      <h3>pictures (<%= @user.user_images.count %>) </h3>
      <div>
        <ol>
          <%= render @user_images %>
        </ol>
      </div>
      <%= will_paginate @user_images %>
    </div>
  <% end %>
</div>